{% extends 'navbar.html' %}

{% block title %}Listado de Películas{% endblock %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="titulo_pagina">Películas</div>
    <ul class="grid-container">
        {% for pelicula in peliculas %}
            <li>
                <div class="contenedor">
                    {% if pelicula.foto %}
                        <img src="{{ pelicula.foto.url }}" alt="{{ pelicula.titulo }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}audiovisuals/imagen_generica.jpg" alt="Imagen genérica">
                    {% endif %}
                    <div class="titulo_audiovisual">
                        {{ pelicula.titulo }}
                    </div><br>
                    <div class="fecha">{{ pelicula.fecha|date:"d/m/Y" }}</div><br>
                    <div class="genero">
                        {{ pelicula.genero }}<br>
                    </div>
                    <div class="puntuacion-container">
                        <div class="puntuacion puntuacionM">{{ pelicula.puntuacionM }}</div>
                        <div class="vs">vs.</div>
                        <div class="puntuacion puntuacionF">{{ pelicula.puntuacionF }}</div>
                    </div>
                    <div class="iconos">
                        <a href="{% url 'editar_pelicula' pelicula.id %}"><i class="fas fa-edit"></i></a>
                        <!-- Enlace de eliminación con confirmación JavaScript -->
                        <a href="{% url 'eliminar_pelicula' pelicula.id %}" onclick="return confirm('¿Estás seguro de que quieres eliminar esta película?');"><i class="fas fa-trash-alt" style="color: black;"></i></a>
                    </div>
                </div>
            </li>
        {% empty %}
            <li>No hay películas disponibles.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'agregar_pelicula' %}" class="boton_añadir"><i class="fas fa-plus"></i></a>
</body>
{% endblock %}
