{% extends 'navbar.html' %}

{% block title %}Listado de Videojuegos{% endblock %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="titulo_pagina">Videojuegos</div>
    <ul class="grid-container">
        {% for videojuego in videojuegos %}
            <li>
                <div class="contenedor">
                    {% if videojuego.foto %}
                        <img src="{{ videojuego.foto.url }}" alt="{{ videojuego.titulo }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}audiovisuals/imagen_generica.jpg" alt="Imagen genérica">
                    {% endif %}
                    <div class="titulo_audiovisual">
                        {{ videojuego.titulo }}
                    </div><br>
                    <div class="fecha">{{ videojuego.fecha|date:"d/m/Y" }}</div><br>
                    <div class="genero">
                        Género: {{ videojuego.genero }}<br>
                    </div>
                    <div class="puntuacion-container">
                        <div class="puntuacion puntuacionM">{{ videojuego.puntuacionM }}</div>
                        <div class="vs">vs.</div>
                        <div class="puntuacion puntuacionF">{{ videojuego.puntuacionF }}</div>
                    </div>
                    <div class="iconos">
                        <a href="{% url 'editar_videojuego' videojuego.id %}"><i class="fas fa-edit"></i></a>
                        <!-- Enlace de eliminación con confirmación JavaScript -->
                        <a href="{% url 'eliminar_videojuego' videojuego.id %}" onclick="return confirm('¿Estás seguro de que quieres eliminar este videojuego?');"><i class="fas fa-trash-alt" style="color: black;"></i></a>
                    </div>
                </div>
            </li>
        {% empty %}
            <li>No hay videojuegos disponibles.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'agregar_videojuego' %}" class="contenedor"><i class="fas fa-plus"></i></a>
</body>
{% endblock %}
